@import url(reset.css);

/*Контейнер с фоном и текстом*/
.main {
    margin-top: 100px;
    width: 100%;
 background: #484d53;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    text-align: center;
    padding: 25px 0 40px;
}

.main .main_head{
    font-size: 30px;
    padding: 15px 0;
    color: #d58512;
    font-weight: bold;
}

.main .main_head .main_head_span{
    color: #ffff66;
}
.main h3 {
    font-size: 30px;
    color: #fff;
}



/* Стили формы */
#application {
    width: 100%;
    margin: 0 auto;
}

/*Стили полей для ввода*/
#applicationName, #applicationEmail, #applicationTelephone {
    width: 200px;
    height: 40px;
    background: none;
    margin-top: 15px;
    margin-right: 25px;
    border: 1px solid #fff;
    border-radius: 7px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
#applicationSelect{
    border: 1px solid #fff;
    background: #484d53;
    padding: 8px 5px;
    color: #fff;
    height: 39px;
    margin-right: 25px;
}
/*Стили полей при клике по ним*/
#applicationName:focus, #applicationEmail:focus, #applicationTelephone:focus {
    border: 1px solid #30ad64;
}

/*Стили текста, выводящегося в placeholder*/
::-webkit-input-placeholder {
    color: #efefef;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

::-moz-placeholder  {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}  /* Firefox 19+ */

:-moz-placeholder {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}  /* Firefox 18- */

:-ms-input-placeholder {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

::placeholder {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

/*Стили для кнопки*/
.applicationButton {
    margin-top: 10px;
    background: #30ad64;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
/*    transition: .6s;*/
}
    .applicationButton:hover {
        background: #d68c18; 
        /*    transition: .6s;*/
    }
        